<h1>Your booking bitch!</h1>

<h5>Guest:</h5>
<p><%=@guest.full_name%></p>

<h5>You booked a:</h5>
<p><%=@booking.type_of_room%></p>

<h5>Your check-in date is:</h5>
<p><%=@booking.check_in_date%></p>

<h5>You are staying for:</h5>
<p><%=@booking.number_of_nights%> nights</p>